body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
.boss{
    color: orange;
}
.container{
    display: flex;
    margin-bottom: 150px;
}
.half-1{
    width: 50%;
    padding-left: 5%;
}
.half-1 h1{
    font-size: 50px;
}
.half-1 img{
    width: 68%;
}
.click-1{
    text-decoration: none;
    background-color:rgb(255, 200, 0);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 7px;
}
.click-1:hover{
    background-color: rgba(218, 151, 171, 0.466);
}
.part-1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.part-2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.part-3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.fff{
    font-size: 50px;
    margin-left: 5%;
}
.box-shadow{
    width: 50%;
    box-shadow: 15px 15px 15px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
}
#Junior{
    border-left: 7px solid tomato;
}
#Baby{
    border-left: 7px solid blue ;
}
footer p{
    text-align: center;
    color: gray;
}